<h1>Add Message Form</h1>
<%- include("partials/errors.ejs") %>
<form method="POST" action="/new">
  <label for="name">Name:</label><br />
  <input type="text" id="name" name="name" value="John" /><br />
  <label for="msg">Message:</label><br />
  <textarea id="msg" name="msg" rows="4" cols="40">
Hello there, i wonder if you...</textarea
  ><br /><br />
  <input type="submit" value="Submit" />
</form>
<a href="/">Go back got the message board</a>
