<html>
  <head>
    <title>Message Page</title>
  </head>
  <body>
    <h2><%- title %></h2>
    <ul>
      <li>
        <%= msg.user %> <br />
        <%= msg.text %> <br />
        <%= msg.added %><br />
      </li>
      <a href="/">Back to the message board</a>
      <br />
      <br />
    </ul>
  </body>
</html>
